.post-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    transition: transform 100ms ease-in-out;
}

.post-card:hover {
    transform: scale(1.02);
}

.post-card img {
    width: 100%;
}

.post-content {
    padding: 10px;
}